//font-family: 'Helvetica Neue';
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../font/Helvetik/HelveticaNeueBoldCondensed.eot');
  src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
  url('../font/Helvetik/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
  url('../font/Helvetik/HelveticaNeueBoldCondensed.woff2') format('woff2'),
  url('../font/Helvetik/HelveticaNeueBoldCondensed.woff') format('woff'),
  url('../font/Helvetik/HelveticaNeueBoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../font/Helvetik/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../font/Helvetik/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/Helvetik/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('../font/Helvetik/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../font/Helvetik/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../font/Helvetik/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('../font/Helvetik/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/Helvetik/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../font/Helvetik/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../font/Helvetik/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


//font-family: 'Panton';

@font-face {
  font-family: 'Panton';
  src: url('../font/Panton/Panton-Bold.eot');
  src: local('Panton Bold'), local('Panton-Bold'),
  url('../font/Panton/Panton-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Panton/Panton-Bold.woff2') format('woff2'),
  url('../font/Panton/Panton-Bold.woff') format('woff'),
  url('../font/Panton/Panton-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('../font/Panton/Panton-Regular.eot');
  src: local('Panton'), local('Panton-Regular'),
  url('../font/Panton/Panton-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Panton/Panton-Regular.woff2') format('woff2'),
  url('../font/Panton/Panton-Regular.woff') format('woff'),
  url('../font/Panton/Panton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//font-family: 'Trajan Pro 3';

@font-face {
  font-family: 'Trajan Pro 3';
  src: url('../font/Trajan/TrajanPro3Bold.eot');
  src: local('Trajan Pro 3 Bold'), local('TrajanPro3Bold'),
  url('../font/Trajan/TrajanPro3Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Trajan/TrajanPro3Bold.woff2') format('woff2'),
  url('../font/Trajan/TrajanPro3Bold.woff') format('woff'),
  url('../font/Trajan/TrajanPro3Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Trajan Pro 3';
  src: url('../font/Trajan/TrajanPro3Regular.eot');
  src: local('Trajan Pro 3 Regular'), local('TrajanPro3Regular'),
  url('../font/Trajan/TrajanPro3Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Trajan/TrajanPro3Regular.woff2') format('woff2'),
  url('../font/Trajan/TrajanPro3Regular.woff') format('woff'),
  url('../font/Trajan/TrajanPro3Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//font-family: 'DejaVu Sans Mono';

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('../font/DejaVu/DejaVuSans-Bold.eot');
  src: local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold'),
  url('../font/DejaVu/DejaVuSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/DejaVu/DejaVuSans-Bold.woff2') format('woff2'),
  url('../font/DejaVu/DejaVuSans-Bold.woff') format('woff'),
  url('../font/DejaVu/DejaVuSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  src: url('../font/DejaVu/DejaVuSans.eot');
  src: local('DejaVu Sans Condensed'), local('DejaVuSansCondensed'),
  url('../font/DejaVu/DejaVuSans.eot?#iefix') format('embedded-opentype'),
  url('../font/DejaVu/DejaVuSans.woff2') format('woff2'),
  url('../font/DejaVu/DejaVuSans.woff') format('woff'),
  url('../font/DejaVu/DejaVuSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
