@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
button:active,
button:focus {
  cursor: pointer;
  outline: none !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/Helvetik/HelveticaNeueBoldCondensed.eot");
  src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("../font/Helvetik/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../font/Helvetik/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../font/Helvetik/HelveticaNeueBoldCondensed.woff") format("woff"), url("../font/Helvetik/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/Helvetik/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../font/Helvetik/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Helvetik/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../font/Helvetik/HelveticaNeueCyr-Medium.woff") format("woff"), url("../font/Helvetik/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/Helvetik/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("../font/Helvetik/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../font/Helvetik/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../font/Helvetik/HelveticaNeueCyr-Light.woff") format("woff"), url("../font/Helvetik/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Panton";
  src: url("../font/Panton/Panton-Bold.eot");
  src: local("Panton Bold"), local("Panton-Bold"), url("../font/Panton/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Panton/Panton-Bold.woff2") format("woff2"), url("../font/Panton/Panton-Bold.woff") format("woff"), url("../font/Panton/Panton-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Panton";
  src: url("../font/Panton/Panton-Regular.eot");
  src: local("Panton"), local("Panton-Regular"), url("../font/Panton/Panton-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Panton/Panton-Regular.woff2") format("woff2"), url("../font/Panton/Panton-Regular.woff") format("woff"), url("../font/Panton/Panton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trajan Pro 3";
  src: url("../font/Trajan/TrajanPro3Bold.eot");
  src: local("Trajan Pro 3 Bold"), local("TrajanPro3Bold"), url("../font/Trajan/TrajanPro3Bold.eot?#iefix") format("embedded-opentype"), url("../font/Trajan/TrajanPro3Bold.woff2") format("woff2"), url("../font/Trajan/TrajanPro3Bold.woff") format("woff"), url("../font/Trajan/TrajanPro3Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Trajan Pro 3";
  src: url("../font/Trajan/TrajanPro3Regular.eot");
  src: local("Trajan Pro 3 Regular"), local("TrajanPro3Regular"), url("../font/Trajan/TrajanPro3Regular.eot?#iefix") format("embedded-opentype"), url("../font/Trajan/TrajanPro3Regular.woff2") format("woff2"), url("../font/Trajan/TrajanPro3Regular.woff") format("woff"), url("../font/Trajan/TrajanPro3Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("../font/DejaVu/DejaVuSans-Bold.eot");
  src: local("DejaVu Sans Mono Bold"), local("DejaVuSansMono-Bold"), url("../font/DejaVu/DejaVuSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/DejaVu/DejaVuSans-Bold.woff2") format("woff2"), url("../font/DejaVu/DejaVuSans-Bold.woff") format("woff"), url("../font/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DejaVu Sans Condensed";
  src: url("../font/DejaVu/DejaVuSans.eot");
  src: local("DejaVu Sans Condensed"), local("DejaVuSansCondensed"), url("../font/DejaVu/DejaVuSans.eot?#iefix") format("embedded-opentype"), url("../font/DejaVu/DejaVuSans.woff2") format("woff2"), url("../font/DejaVu/DejaVuSans.woff") format("woff"), url("../font/DejaVu/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 500px) {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
/********************************************HEADER**********************************************************/
.header-top {
  height: 150px;
  border-bottom: 1px solid #838383;
  padding-bottom: 35px;
}
@media (max-width: 650px) {
  .header-top {
    display: flex;
    justify-content: center !important;
  }
}

.navbar {
  padding: 0;
}

.header-search {
  width: 270px;
  font-size: 16px;
  line-height: 24px;
  color: #838383;
  font-family: "Panton", sans-serif;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 650px) {
  .header-search {
    display: none;
  }
}

.header-logo img {
  width: 230px;
  height: 108px;
  transform: translateX(-20%);
}
@media (max-width: 650px) {
  .header-logo img {
    transform: none;
  }
}

.header-theBell {
  width: 165px;
  font-family: "Panton", sans-serif;
  text-align: right;
  line-height: 20px;
  font-weight: bold;
}
.header-theBell .tel {
  font-size: 18px;
  color: #3d3d3d;
}
.header-theBell .the-bell a {
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 0.025em;
  color: #d0a54a;
  padding-left: 30px;
}
@media (max-width: 650px) {
  .header-theBell {
    display: none !important;
  }
}

.nav-link {
  margin: 17px 30px;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .nav-link {
    margin: 15px;
  }
}

.header-bottom {
  background-image: url("../img/background/bg-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
}

.header_text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: auto;
}

.title_header_1 {
  font-size: 60px;
  letter-spacing: 2px;
  color: #d0a64a;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 100px 0 15px 0;
}
@media (max-width: 700px) {
  .title_header_1 {
    font-size: 40px;
    padding: 15px 0;
  }
}
@media (max-width: 400px) {
  .title_header_1 {
    font-size: 25px;
  }
}

.title_header_2 {
  font-size: 36px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Trajan Pro3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
}
@media (max-width: 700px) {
  .title_header_2 {
    font-size: 26px;
    padding: 10px 0;
  }
}
@media (max-width: 400px) {
  .title_header_2 {
    font-size: 18px;
  }
}

.title_header_text {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Panton", sans-serif;
  text-align: center;
  padding: 25px 200px;
}
@media (max-width: 1000px) {
  .title_header_text {
    padding: 25px;
  }
}
@media (max-width: 700px) {
  .title_header_text {
    padding: 15px;
  }
}

.icon_crown {
  width: 67px;
  height: 43px;
  margin: 0 auto;
}

.number_crown {
  font-size: 72px;
  letter-spacing: 2px;
  color: #d0a64a;
  font-family: "Trajan Pro3", sans-serif;
  font-weight: bold;
  text-align: center;
}

.text1_crown {
  font-size: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.text2_crown {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Panton", sans-serif;
  text-align: center;
  padding: 0 50px;
}

.form-header {
  padding: 50px 0 100px 0;
}
@media (max-width: 700px) {
  .form-header {
    flex-direction: column;
    padding: 20px 0;
  }
}

.form-group input[type=text] {
  width: 288px;
  height: 53px;
  border-radius: 27px;
  background-color: #ffffff;
  font-size: 14px;
  color: #262526;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  text-align: center;
  outline: none;
  border: 0;
}
@media (max-width: 550px) {
  .form-group input[type=text] {
    width: 250px;
  }
}

.form-group .submit {
  width: 288px;
  height: 53px;
  border-radius: 27px;
  background-color: #d0a54a;
  font-size: 16px;
  color: #ffffff;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: 0;
  transition: background-color 0.5s;
}
.form-group .submit:hover {
  background-color: #ffffff;
  color: #d1a64a;
  border: 1px solid #d1a64a;
}
@media (max-width: 550px) {
  .form-group .submit {
    width: 250px;
  }
}

.form-group + .form-group {
  margin-left: 25px;
}
@media (max-width: 700px) {
  .form-group + .form-group {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .form-group + .form-group {
    margin-left: 0;
  }
}

/********************************************BODY**********************************************************/
.advantages {
  margin-top: 80px;
}

.title_advantages {
  font-size: 48px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}
@media (max-width: 700px) {
  .title_advantages {
    font-size: 35px;
  }
}
@media (max-width: 400px) {
  .title_advantages {
    font-size: 25px;
  }
}

.text_advantages {
  font-size: 14px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: center;
  padding: 15px 180px;
}
@media (max-width: 1000px) {
  .text_advantages {
    padding: 20px;
  }
}
@media (max-width: 700px) {
  .text_advantages {
    padding: 15px;
  }
}

.line {
  margin: 15px auto;
  width: 50px;
  height: 1px;
  text-align: center;
  background-color: #d0a54a;
}

.branch {
  margin-top: 35px;
}
.branch:before {
  content: url("../img/branch-left.png");
  margin-right: 40px;
}
@media (max-width: 550px) {
  .branch:before {
    margin-right: 30px;
  }
}
.branch:after {
  content: url("../img/branch-right.png");
  margin-left: 40px;
}
@media (max-width: 550px) {
  .branch:after {
    margin-left: 30px;
  }
}

.branch_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  bottom: 130px;
}
.branch_text .branch-heading .count {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 550px) {
  .branch_text .branch-heading .count {
    font-size: 30px;
  }
}

.brench-decription {
  font-size: 18px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "Panton", sans-serif;
  font-weight: 800;
  text-align: center;
}

#horas {
  position: relative;
  bottom: 0;
  left: -50px;
}
@media (max-width: 550px) {
  #horas {
    left: -37px;
  }
}

#horas, #dias, #meses, #ano {
  display: inline-block;
  width: 24%;
  text-align: center;
}

/********************************************COST**********************************************************/
.cost, .cases {
  background-color: #f3f6fb;
}

.title-bloc {
  font-size: 48px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 70px 170px 14px;
}
@media (max-width: 1000px) {
  .title-bloc {
    font-size: 38px;
    padding: 20px 40px;
  }
}
@media (max-width: 700px) {
  .title-bloc {
    font-size: 35px;
    padding: 30px;
  }
}
@media (max-width: 400px) {
  .title-bloc {
    font-size: 25px;
  }
}

.title_text {
  font-size: 14px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: center;
  padding: 14px 204px 15px;
}
@media (max-width: 1000px) {
  .title_text {
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .title_text {
    padding: 15px;
  }
}

.title_text-2 {
  font-size: 14px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: center;
  padding: 50px 130px;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .title_text-2 {
    padding: 30px;
  }
}

.calculation {
  width: 800px;
  height: 855px;
  border-radius: 3px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
  margin: 20px auto;
}
.calculation .row {
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 1000px) {
  .calculation {
    width: 600px;
    height: auto;
  }
}
@media (max-width: 700px) {
  .calculation {
    width: 530px;
    height: auto;
  }
}
@media (max-width: 550px) {
  .calculation {
    width: 280px;
    height: auto;
  }
}

@media (max-width: 550px) {
  .calc_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.name_calculation {
  font-size: 24px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 35px 0;
}
.name_calculation span {
  color: #d0a54a;
}
@media (max-width: 1000px) {
  .name_calculation {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .name_calculation {
    font-size: 16px;
    padding: 10px;
  }
}

.form-group-2 label {
  font-size: 16px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: Helvetica Neue, sans-serif;
  display: flex;
  padding-top: 10px;
}
@media (max-width: 550px) {
  .form-group-2 label {
    font-size: 14px;
  }
}
.form-group-2 textarea {
  resize: none;
  width: 750px;
  height: 150px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  font-size: 16px;
  padding: 10px;
  color: #afafaf;
  font-family: "Panton", sans-serif;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .form-group-2 textarea {
    width: 520px;
  }
}
@media (max-width: 700px) {
  .form-group-2 textarea {
    width: 460px;
  }
}
@media (max-width: 550px) {
  .form-group-2 textarea {
    width: 250px;
  }
}

.form-group-2 input[type=text], .form-group-2 input[type=tel], .form-group-2 input[type=email] {
  width: 352px;
  height: 57px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  font-size: 16px;
  line-height: 30px;
  color: #afafaf;
  font-family: "Panton", sans-serif;
  font-weight: bold;
  padding: 20px;
  text-overflow: ellipsis;
}
@media (max-width: 1000px) {
  .form-group-2 input[type=text], .form-group-2 input[type=tel], .form-group-2 input[type=email] {
    width: 220px;
  }
}
@media (max-width: 700px) {
  .form-group-2 input[type=text], .form-group-2 input[type=tel], .form-group-2 input[type=email] {
    width: 200px;
  }
}
@media (max-width: 550px) {
  .form-group-2 input[type=text], .form-group-2 input[type=tel], .form-group-2 input[type=email] {
    width: 250px;
  }
}

.form-check {
  display: flex !important;
  align-items: center;
}

.form-check-label {
  font-size: 14px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  padding: 20px 0;
}
.form-check-label a {
  color: #d0a54a;
  text-decoration: underline;
}

.form-check-input {
  width: 21px;
  height: 21px;
  position: relative;
  left: -5px;
}
@media (max-width: 550px) {
  .form-check-input {
    width: 100px;
  }
}

.row .cacl_bt {
  margin: 0 auto;
}

.cal-button {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #ffffff;
  font-family: "HelveticaNeueCyr", sans-serif;
  background-color: #cfa649;
  width: 250px;
  height: 55px;
  border-radius: 27px;
  margin: 10px 0;
  outline: none;
  transition: background-color 0.5s;
}
.cal-button:hover {
  background-color: #ffffff;
  color: #d1a64a;
  border: 1px solid #d1a64a;
}
@media (max-width: 550px) {
  .cal-button {
    width: 200px;
    height: 40px;
  }
}

.cost_info {
  font-size: 14px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: center;
  padding: 45px 140px;
}
@media (max-width: 1000px) {
  .cost_info {
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .cost_info {
    padding: 15px;
  }
}

.row .calc-area {
  margin-left: 15px;
}

/*******************************************work_structure*********************************************************/
.work-1, .plans {
  justify-content: space-around;
  margin-top: 45px;
}

@media (max-width: 800px) {
  .work-2, .work-1 {
    display: flex;
    flex-direction: column;
  }
}

.icon_work img {
  height: 80px;
  width: 80px;
  margin: 10px auto;
}

.name_work {
  font-size: 24px;
  line-height: 49px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.text_work {
  font-size: 14px;
  line-height: 24px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: left;
  padding: 10px 0;
}
@media (max-width: 700px) {
  .text_work {
    padding: 15px;
    text-align: center;
  }
}

.structure_text {
  font-size: 14px;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: center;
  padding: 70px 150px 50px;
}
@media (max-width: 1000px) {
  .structure_text {
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .structure_text {
    padding: 15px;
  }
}

.work-2 {
  width: 100%;
  border-top: 1px solid #2d2d2d;
  margin-top: 0;
}
@media (max-width: 1000px) {
  .work-2 {
    border-top: none;
  }
}

.work-1 {
  width: 100%;
  margin-top: 0;
}
@media (max-width: 1000px) {
  .work-1 {
    border-bottom: none;
  }
}

.work-1 .col, .work-2 .col {
  border-right: 1px solid #2d2d2d;
}
.work-1 .col:last-child, .work-2 .col:last-child {
  border: none;
}
@media (max-width: 1000px) {
  .work-1 .col, .work-2 .col {
    border-right: none;
  }
}

/*******************************************services and prices********************************************************/
.card-2 {
  width: 320px;
  height: 565px;
  border-radius: 3px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 550px) {
  .card-2 {
    width: 270px;
  }
}

.card-crown {
  background-image: url("../img/crown-gold.png");
  background-repeat: no-repeat;
  background-position: top center;
  width: 226px;
  height: 59px;
}

.card-top-title {
  height: 75px;
  font-size: 36px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
}

.card-center-price {
  font-size: 24px;
  letter-spacing: 1px;
  color: #d1a64a;
  font-family: "HelveticaNeueCyr", sans-serif;
  text-align: center;
  padding: 25px 0;
}

.card-bottom-text {
  font-size: 12px;
  line-height: 20px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  padding: 10px 32px;
}

.cards-bottom .card-order {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #ffffff;
  font-family: "HelveticaNeueCyr", sans-serif;
  background-color: #d1a64a;
  width: 256px;
  height: 56px;
  border-radius: 27px;
  margin: 18px 32px;
  transition: background-color 0.5s;
}
.cards-bottom .card-order:hover {
  background-color: #ffffff;
  color: #d1a64a;
  border: 1px solid #d1a64a;
}
@media (max-width: 550px) {
  .cards-bottom .card-order {
    width: 240px;
    height: 40px;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider__item {
  display: flex;
  justify-content: center;
  position: relative;
  width: 350px;
  padding: 30px 0;
}
.slider__item:first-child {
  margin-left: 0;
}
.slider__item:last-child {
  margin-right: 0;
}
@media (max-width: 500px) {
  .slider__item {
    width: 300px !important;
  }
}

.slick-dots {
  display: none !important;
}

.slider {
  position: relative;
  padding: 0 80px;
}

@media (max-width: 700px) {
  .slider {
    padding: 0;
  }
}
.slider .slick-arrow.slick-prev {
  position: absolute;
  left: 21%;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: url(../img/icons/circle__button.png);
  transform: rotate(180deg);
  box-shadow: 0 0 20px #b4b3b3;
  user-select: none;
}
@media (max-width: 1400px) {
  .slider .slick-arrow.slick-prev {
    right: 26%;
  }
}
@media (max-width: 1100px) {
  .slider .slick-arrow.slick-prev {
    right: 10%;
  }
}
@media (max-width: 700px) {
  .slider .slick-arrow.slick-prev {
    left: 10%;
  }
}

.slider .slick-arrow.slick-next {
  position: absolute;
  right: 21%;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: url(../img/icons/circle__button.png);
  box-shadow: 0 0 20px #b4b3b3;
  user-select: none;
}
@media (max-width: 1400px) {
  .slider .slick-arrow.slick-next {
    right: 26%;
  }
}
@media (max-width: 1100px) {
  .slider .slick-arrow.slick-next {
    right: 10%;
  }
}
@media (max-width: 700px) {
  .slider .slick-arrow.slick-next {
    right: 10%;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider__item img {
  max-width: 100%;
}

.card-center-icon img {
  width: 120px;
  height: 120px;
}

/********************************************COST**********************************************************/
.header_text_2 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.name-cases {
  font-size: 36px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
}

.cases-1 {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.info-cases {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 500px) {
  .info-cases {
    padding: 20px;
  }
}

.info-cases-1 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  color: #2d2d2d;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: bold;
}
.info-cases-1 span {
  color: #d1a64a;
}
@media (max-width: 700px) {
  .info-cases-1 {
    font-size: 12px;
  }
}

.cases-img img {
  width: 946px;
  height: 545px;
}
@media (max-width: 1000px) {
  .cases-img img {
    width: 800px;
    height: 480px;
  }
}
@media (max-width: 700px) {
  .cases-img img {
    width: 290px;
    height: auto;
  }
}

/********************************************PLAN*********************************************************/
.ellipse-plan {
  width: 115px;
  height: 115px;
  background-color: #ddbd7a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 20px auto;
}

.ellipse-number {
  width: 54px;
  height: 85px;
  font-size: 48px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 85px;
}

.name_plan {
  font-size: 18px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.text_plan {
  font-size: 14px;
  color: #2d2d2d;
  font-family: "Panton", sans-serif;
  text-align: center;
  line-height: 20px;
}

.plans {
  position: relative;
}
.plans .col {
  padding: 0 80px;
}
.plans .col:before {
  content: url("../img/up.png");
  position: absolute;
  right: -35px;
  top: 70px;
}
.plans .col:last-child:before {
  content: "";
  margin: 0;
}
@media (max-width: 1000px) {
  .plans .col:before {
    content: "";
  }
}
@media (max-width: 700px) {
  .plans .col:before {
    content: "";
  }
}

.up {
  position: absolute;
  top: 360px;
  left: 520px;
}
.up img {
  width: 67px;
  height: 11px;
}

/********************************************GET********************************************************/
.get-column {
  width: 352px;
  height: 498px;
  background-color: #cfa549;
}
@media (max-width: 1000px) {
  .get-column {
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .get-column {
    margin: 10px 0;
  }
}
@media (max-width: 700px) {
  .get-column {
    width: 280px;
  }
}

.get-header {
  background-image: url("../img/crown-white.png");
  background-repeat: no-repeat;
  background-position: top center;
  width: 226px;
  height: 53px;
  margin: 30px auto;
}

.get-center .circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ffffff;
}
@media (max-width: 500px) {
  .get-center .circle {
    width: 140px;
    height: 140px;
  }
}
.get-center .circle .icons-circle img {
  width: 110px;
  height: 110px;
  margin: 30px;
}
@media (max-width: 500px) {
  .get-center .circle .icons-circle img {
    width: 95px;
    height: 95px;
    margin: 23px;
  }
}

.get-bottom {
  color: #ffffff;
  text-align: center;
}
.get-bottom .name-get-bottom {
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  padding: 30px 72px;
}
.get-bottom .text-get-bottom {
  font-size: 14px;
  font-family: "Panton", sans-serif;
  padding: 0 20px;
}
@media (max-width: 700px) {
  .get-bottom .text-get-bottom {
    padding: 0 70px;
  }
}

/*****************************************questions*********************************************************/
.title-questions {
  font-size: 60px;
  letter-spacing: 2px;
  color: #cfa649;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 130px 0 20px;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .title-questions {
    font-size: 40px;
    padding: 15px 0;
  }
}

.text-questions {
  font-size: 36px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .text-questions {
    font-size: 26px;
    padding: 15px;
  }
}

.info-questions {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Panton", sans-serif;
  text-align: center;
  padding: 20px 260px;
}
@media (max-width: 1000px) {
  .info-questions {
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .info-questions {
    padding: 15px;
  }
}

/*****************************************principles*********************************************************/
.principles {
  margin-bottom: 50px;
}

.principles-ellipse-1 {
  width: 894px;
  height: 894px;
  border-radius: 447px;
  background-color: #ffffff;
  border: 1px solid #d1a64a;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .principles-ellipse-1 {
    width: 210px;
    height: 210px;
    margin: 0 auto;
  }
}

.principles-ellipse-2 {
  width: 670px;
  height: 670px;
  border-radius: 335px;
  background-color: #ffffff;
  border: 1px solid #d1a64a;
  margin: 110px;
}
@media (max-width: 500px) {
  .principles-ellipse-2 {
    width: 140px;
    height: 140px;
    margin: 35px;
  }
}

.principles-ellipse-3 {
  width: 454px;
  height: 454px;
  border-radius: 227px;
  background-color: #ffffff;
  border: 1px solid #d1a64a;
  margin: 110px;
}
@media (max-width: 500px) {
  .principles-ellipse-3 {
    width: 90px;
    height: 90px;
    margin: 24px;
  }
}

.ellipse-logo {
  margin: 140px 45px;
}
.ellipse-logo img {
  width: 360px;
  height: 174px;
}
@media (max-width: 700px) {
  .ellipse-logo img {
    width: 250px;
    height: 129px;
    margin: 7px 63px;
  }
}
@media (max-width: 500px) {
  .ellipse-logo img {
    display: none;
  }
}

.principles-left {
  position: relative;
  left: 200px;
}
@media (max-width: 1000px) {
  .principles-left {
    left: 320px;
  }
}
@media (max-width: 700px) {
  .principles-left {
    left: 450px;
  }
}
@media (max-width: 500px) {
  .principles-left {
    left: 240px;
  }
}

.principles-right {
  position: relative;
  right: 200px;
}
@media (max-width: 1000px) {
  .principles-right {
    right: 450px;
  }
}
@media (max-width: 500px) {
  .principles-right {
    right: 240px;
    top: 90px;
  }
}

.box-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .box-left {
    margin-bottom: 83px;
    width: 250px;
  }
}
@media (max-width: 500px) {
  .box-left {
    margin-bottom: 83px;
    width: 200px;
  }
}

.box-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 100px;
}
.box-right .box-title {
  text-align: right;
}
@media (max-width: 700px) {
  .box-right {
    margin-bottom: 83px;
    width: 250px;
  }
}
@media (max-width: 500px) {
  .box-right {
    margin-bottom: 83px;
    width: 200px;
  }
}

.box-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #cfa549;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
@media (max-width: 500px) {
  .box-circle {
    margin: 20px 0;
  }
}

.box-number {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 180px;
  color: #fdfbf6;
  font-family: "Trajan Pro 3", sans-serif;
  font-weight: bold;
}

.box-title {
  font-size: 24px;
  letter-spacing: 1px;
  color: #2d2d2d;
  font-family: "Trajan Pro 3", sans-serif;
  text-align: left;
}
@media (max-width: 500px) {
  .box-title {
    font-size: 14px;
  }
}

/****************************************footer*********************************************************/
footer {
  background-color: #151616;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 790px) {
  .footer-menu {
    flex-direction: column;
  }
}

.list {
  margin: 30px 0;
}
.list a {
  text-align: left;
  color: #ffffff;
  opacity: 1;
  font-family: "Panton", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.025em;
  position: relative;
  z-index: 20;
}
.list a:hover {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  transition: background-color 0.5s;
}
@media (max-width: 790px) {
  .list {
    margin: 10px 0;
  }
}

.footer-bottom {
  border-top: 1px solid #838383;
  padding-top: 35px;
  padding-bottom: 50px;
}
@media (max-width: 790px) {
  .footer-bottom {
    flex-direction: column-reverse;
  }
}

.footer-left {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Panton", sans-serif;
  font-weight: bold;
}
@media (max-width: 790px) {
  .footer-left {
    font-size: 14px;
  }
}

.footer-right .tel {
  font-size: 18px;
  color: #ffffff;
  font-family: "Panton", sans-serif;
  font-weight: 800;
  text-align: center;
}
.footer-right .the-bell a {
  font-size: 16px;
  color: #d1a64a;
  font-family: "Panton", sans-serif;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
  padding-left: 32px;
}
@media (max-width: 790px) {
  .footer-right {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
  outline: none !important;
}

/*# sourceMappingURL=style.css.map */
